### WE03ab-Ensembles-data-gen
#### Create a notebook that pre-processes this data for model fitting
In this notebook, I will analyze and process the chosen data. Identify the target variable and input variables. I will include details about what I observed, what changes I am making, how I am making these changes, and why I am making these changes. I will save the results into csv files (these files should therefore be pre-processed and ready for model fitting. Later model fitting notebooks should not need data manipulation/processing.

## Identification of a problem/goal for analysis

The data set is collecred from an online educational platform, oriented over programing and technology.
##### Problem: 
The online educational platform is looking for and recommended system that show to students an specific cataloged depending of their developer profile.
##### Goal:
My goal is to analyze input variables such as number of courses taken for each category, number of hours spent on each couse, average score for each course and predict the target variable which is student's profile whether a student can be one of the following developer
- beginner_front_end
- advanced_front_end
- beginner_back_end
- advanced_back_end
- beginner_data_science
- advanced_data_science

### Importing necessary modules

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier 
from sklearn.preprocessing import StandardScaler

np.random.seed(1)

### Reading and displaying data from the choosen data set.

In [2]:
df = pd.read_csv('WE03b-Ensembles-data.csv')

In [3]:
df.head(5)

,Unnamed: 0,NAME,USER_ID,HOURS_DATASCIENCE,HOURS_BACKEND,HOURS_FRONTEND,NUM_COURSES_BEGINNER_DATASCIENCE,NUM_COURSES_BEGINNER_BACKEND,NUM_COURSES_BEGINNER_FRONTEND,NUM_COURSES_ADVANCED_DATASCIENCE,NUM_COURSES_ADVANCED_BACKEND,NUM_COURSES_ADVANCED_FRONTEND,AVG_SCORE_DATASCIENCE,AVG_SCORE_BACKEND,AVG_SCORE_FRONTEND,PROFILE
0,28,Stormy Muto,58283940,7.0,39.0,29.0,2.0,4.0,0.0,2.0,5.0,0.0,84.0,74.0,NaN,beginner_front_end
1,81,Carlos Ferro,1357218,32.0,0.0,44.0,2.0,0.0,0.0,0.0,5.0,0.0,67.0,45.0,NaN,beginner_front_end
2,89,Robby Constantini,63212105,45.0,0.0,59.0,0.0,5.0,4.0,0.0,4.0,1.0,NaN,54.0,47.0,advanced_front_end
3,138,Paul Mckenny,23239851,36.0,19.0,28.0,0.0,5.0,7.0,0.0,5.0,3.0,NaN,71.0,89.0,beginner_data_science
4,143,Jean Webb,72234478,61.0,78.0,38.0,6.0,11.0,0.0,4.0,3.0,0.0,66.0,85.0,NaN,advanced_front_end

### Details of the data

Predictors (X)

- Unnamed: 0 - Useless column (Not using for analysis, will be removed while cleaning the data)
- NAME - Name of the student (Not using for analysis, will be removed while cleaning the data)
- USER_ID - ID for each student (Not using for analysis, will be removed while cleaning the data)
- HOURS_DATASCIENCE - Numbers of hours studied data science courses
- HOURS_BACKEND - Numbers of hours studied web (Back-End)
- HOURS_FRONTEND - Numbers of hours studied web (Front-End)
- NUM_COURSES_BEGINNER_DATASCIENCE - Numbers of beginner courses of Data Science completed by the student
- NUM_COURSES_BEGINNER_BACKEND - Numbers of beginner courses of Web (Back-End) completed by the student
- NUM_COURSES_BEGINNER_FRONTEND - Numbers of beginner courses of Web (Front-End) completed by the student
- NUM_COURSES_ADVANCED_DATASCIENCE -Numbers of advanced courses of Data Science completed by the student
- NUM_COURSES_ADVANCED_BACKEND - Numbers of advanced courses of Web (Back-End) completed by the student
- NUM_COURSES_ADVANCED_FRONTEND - Numbers of advanced courses of Web (Front-End) completed by the student
- AVG_SCORE_DATASCIENCE - Average score in Data Science completed by the student
- AVG_SCORE_BACKEND - Average score in Web (Back-End) completed by the student
- AVG_SCORE_FRONTEND - Average score in Web (Front-End) completed by the student

Target (Y)
- PROFILE - Tech profile of the students

(beginner_front_end, advanced_front_end, beginner_back_end, advanced_back_end, beginner_data_science, advanced_data_science)

## Cleaning the data

### Replacing categorical values with binary values.

#### Cleaning up colum names, if there are some leading whitespace characters. 
Since it is best practice to clear any white spaces before starting to analyze.

In [4]:
df.columns = [s.strip() for s in df.columns] 
df.columns

Index(['Unnamed: 0', 'NAME', 'USER_ID', 'HOURS_DATASCIENCE', 'HOURS_BACKEND',
       'HOURS_FRONTEND', 'NUM_COURSES_BEGINNER_DATASCIENCE',
       'NUM_COURSES_BEGINNER_BACKEND', 'NUM_COURSES_BEGINNER_FRONTEND',
       'NUM_COURSES_ADVANCED_DATASCIENCE', 'NUM_COURSES_ADVANCED_BACKEND',
       'NUM_COURSES_ADVANCED_FRONTEND', 'AVG_SCORE_DATASCIENCE',
       'AVG_SCORE_BACKEND', 'AVG_SCORE_FRONTEND', 'PROFILE'],
      dtype='object')

### Dropping unnecessary columns Unnamed: 0, NAME, USER_ID. 
observed that Unnamed: 0 is serial numbers of data, all USR_ID and NAME are uniqe they are not related to analysis and modeling, I am not keeping them in the dataframe.

In [5]:
df = df.drop(['Unnamed: 0', 'NAME', 'USER_ID'], axis=1)

### Properteis and observations of cleaned data

In [6]:
df.head(3)

,HOURS_DATASCIENCE,HOURS_BACKEND,HOURS_FRONTEND,NUM_COURSES_BEGINNER_DATASCIENCE,NUM_COURSES_BEGINNER_BACKEND,NUM_COURSES_BEGINNER_FRONTEND,NUM_COURSES_ADVANCED_DATASCIENCE,NUM_COURSES_ADVANCED_BACKEND,NUM_COURSES_ADVANCED_FRONTEND,AVG_SCORE_DATASCIENCE,AVG_SCORE_BACKEND,AVG_SCORE_FRONTEND,PROFILE
0,7.0,39.0,29.0,2.0,4.0,0.0,2.0,5.0,0.0,84.0,74.0,NaN,beginner_front_end
1,32.0,0.0,44.0,2.0,0.0,0.0,0.0,5.0,0.0,67.0,45.0,NaN,beginner_front_end
2,45.0,0.0,59.0,0.0,5.0,4.0,0.0,4.0,1.0,NaN,54.0,47.0,advanced_front_end

In [7]:
df.shape

(20000, 13)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   HOURS_DATASCIENCE                 19986 non-null  float64
 1   HOURS_BACKEND                     19947 non-null  float64
 2   HOURS_FRONTEND                    19984 non-null  float64
 3   NUM_COURSES_BEGINNER_DATASCIENCE  19974 non-null  float64
 4   NUM_COURSES_BEGINNER_BACKEND      19982 non-null  float64
 5   NUM_COURSES_BEGINNER_FRONTEND     19961 non-null  float64
 6   NUM_COURSES_ADVANCED_DATASCIENCE  19998 non-null  float64
 7   NUM_COURSES_ADVANCED_BACKEND      19992 non-null  float64
 8   NUM_COURSES_ADVANCED_FRONTEND     19963 non-null  float64
 9   AVG_SCORE_DATASCIENCE             19780 non-null  float64
 10  AVG_SCORE_BACKEND                 19916 non-null  float64
 11  AVG_SCORE_FRONTEND                19832 non-null  float64
 12  PROFILE                           20000 non-null  object
dtypes: float64(12), object(1)
memory usage: 2.0+ MB

In [9]:
df.describe()

,HOURS_DATASCIENCE,HOURS_BACKEND,HOURS_FRONTEND,NUM_COURSES_BEGINNER_DATASCIENCE,NUM_COURSES_BEGINNER_BACKEND,NUM_COURSES_BEGINNER_FRONTEND,NUM_COURSES_ADVANCED_DATASCIENCE,NUM_COURSES_ADVANCED_BACKEND,NUM_COURSES_ADVANCED_FRONTEND,AVG_SCORE_DATASCIENCE,AVG_SCORE_BACKEND,AVG_SCORE_FRONTEND
count,19986.000000,19947.000000,19984.000000,19974.000000,19982.000000,19961.000000,19998.000000,19992.000000,19963.00000,19780.000000,19916.000000,19832.000000
mean,37.565296,43.552263,36.936599,3.698608,3.715144,4.048294,3.397140,4.344338,3.36783,65.070324,67.234535,67.130748
std,22.394805,22.387518,20.590381,2.001647,2.101863,2.296000,2.111437,2.161569,1.98784,13.950559,14.214591,14.446830
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,7.000000,10.000000,0.000000
25%,21.000000,28.000000,22.000000,2.000000,2.000000,2.000000,2.000000,3.000000,2.00000,56.000000,58.000000,58.000000
50%,37.000000,43.000000,37.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.00000,65.000000,68.000000,68.000000
75%,53.000000,59.000000,51.000000,5.000000,5.000000,6.000000,5.000000,6.000000,5.00000,75.000000,77.000000,77.000000
max,127.000000,147.000000,124.000000,12.000000,12.000000,13.000000,13.000000,14.000000,12.00000,100.000000,100.000000,100.000000

### Looking for null values

In [10]:
df.isna().sum()

HOURS_DATASCIENCE                    14
HOURS_BACKEND                        53
HOURS_FRONTEND                       16
NUM_COURSES_BEGINNER_DATASCIENCE     26
NUM_COURSES_BEGINNER_BACKEND         18
NUM_COURSES_BEGINNER_FRONTEND        39
NUM_COURSES_ADVANCED_DATASCIENCE      2
NUM_COURSES_ADVANCED_BACKEND          8
NUM_COURSES_ADVANCED_FRONTEND        37
AVG_SCORE_DATASCIENCE               220
AVG_SCORE_BACKEND                    84
AVG_SCORE_FRONTEND                  168
PROFILE                               0
dtype: int64

From the above observations I observed that
* There are 13 columns in the data set which 12 of them are input variables and 1 (PROFILE) is target variable.
* All input variables are continuous and are data type float
* The target variable is categorical and data type is object
* There are some minor null values present in all input variables whicj are < 10% of the no of rows
* The target variable have no null values.

### Spliting the data for training and testing (data partitoning 70/30)

The data set is a good one with 20,000 observations. So I decided to partiton the data for 70% for training and 30% for testing which I believe will give good results.

In [11]:
train_df, test_df = train_test_split(df, test_size=0.3)

### Seperating the predictors and traget variables

In [12]:
target = 'PROFILE'
predictors = list(df.columns)
predictors.remove(target)

### Looking for null values

In [13]:
numeric_cols_with_nas = list(train_df.isna().sum()[train_df.isna().sum() > 0].index)
numeric_cols_with_nas

['HOURS_DATASCIENCE',
 'HOURS_BACKEND',
 'HOURS_FRONTEND',
 'NUM_COURSES_BEGINNER_DATASCIENCE',
 'NUM_COURSES_BEGINNER_BACKEND',
 'NUM_COURSES_BEGINNER_FRONTEND',
 'NUM_COURSES_ADVANCED_DATASCIENCE',
 'NUM_COURSES_ADVANCED_BACKEND',
 'NUM_COURSES_ADVANCED_FRONTEND',
 'AVG_SCORE_DATASCIENCE',
 'AVG_SCORE_BACKEND',
 'AVG_SCORE_FRONTEND']

### Impute missing values
Replacing the null values with median.

Since all columns have very minor null values it is meaningless to drop the columns. So I am replacing null values with median.

Also median is a robust measure of central tendency. It is less influenced by outliers and skewed data.

In [14]:
imputer = SimpleImputer(strategy="median")

train_df[numeric_cols_with_nas] = imputer.fit_transform(train_df[numeric_cols_with_nas])
test_df[numeric_cols_with_nas] = imputer.transform(test_df[numeric_cols_with_nas])

In [15]:
scaler = preprocessing.StandardScaler()
train_df[predictors] = scaler.fit_transform(train_df[predictors])
test_df[predictors] = scaler.transform(test_df[predictors])

### Saving the datasets for testing and training

In [16]:
X_train = train_df[predictors]
y_train = train_df[target]
X_test = test_df[predictors]
y_test = test_df[target]

In [17]:
X_train.isna().sum()

HOURS_DATASCIENCE                   0
HOURS_BACKEND                       0
HOURS_FRONTEND                      0
NUM_COURSES_BEGINNER_DATASCIENCE    0
NUM_COURSES_BEGINNER_BACKEND        0
NUM_COURSES_BEGINNER_FRONTEND       0
NUM_COURSES_ADVANCED_DATASCIENCE    0
NUM_COURSES_ADVANCED_BACKEND        0
NUM_COURSES_ADVANCED_FRONTEND       0
AVG_SCORE_DATASCIENCE               0
AVG_SCORE_BACKEND                   0
AVG_SCORE_FRONTEND                  0
dtype: int64

In [18]:
y_train.isna().sum()

0

In [19]:
X_train.shape

(14000, 12)

In [20]:
y_train.shape

(14000,)

In [21]:
X_test.shape

(6000, 12)

In [22]:
y_test.shape

(6000,)

In [23]:
X_train.head(3)

,HOURS_DATASCIENCE,HOURS_BACKEND,HOURS_FRONTEND,NUM_COURSES_BEGINNER_DATASCIENCE,NUM_COURSES_BEGINNER_BACKEND,NUM_COURSES_BEGINNER_FRONTEND,NUM_COURSES_ADVANCED_DATASCIENCE,NUM_COURSES_ADVANCED_BACKEND,NUM_COURSES_ADVANCED_FRONTEND,AVG_SCORE_DATASCIENCE,AVG_SCORE_BACKEND,AVG_SCORE_FRONTEND
11408,0.780575,-1.954670,0.100108,-0.352817,1.092031,-0.896584,-1.618262,-0.618678,-0.690717,-0.656758,0.118214,-0.769307
3616,0.915025,0.508481,0.293976,0.148445,-1.292614,-1.333166,2.171182,0.766496,-0.690717,-0.151500,0.825419,1.721063
9747,0.377227,-1.193333,-0.190693,0.649708,0.138173,-0.460002,-0.197220,-0.618678,0.319895,0.065039,-0.235388,-0.700130

In [24]:
y_train.head(3)

11408    advanced_front_end
3616       beginner_backend
9747     beginner_front_end
Name: PROFILE, dtype: object

In [25]:
X_test.head(3)

,HOURS_DATASCIENCE,HOURS_BACKEND,HOURS_FRONTEND,NUM_COURSES_BEGINNER_DATASCIENCE,NUM_COURSES_BEGINNER_BACKEND,NUM_COURSES_BEGINNER_FRONTEND,NUM_COURSES_ADVANCED_DATASCIENCE,NUM_COURSES_ADVANCED_BACKEND,NUM_COURSES_ADVANCED_FRONTEND,AVG_SCORE_DATASCIENCE,AVG_SCORE_BACKEND,AVG_SCORE_FRONTEND
11456,-1.012084,0.329342,-1.450831,2.153497,2.045889,0.849745,1.223821,-1.542127,-0.185411,-0.656758,-0.235388,-0.561776
16528,-1.101717,1.941587,0.439376,0.649708,2.045889,-0.460002,0.750141,0.304771,0.319895,0.786836,0.542537,-0.423422
3253,-1.505066,1.001111,1.214846,-0.854080,0.138173,0.413163,1.223821,0.766496,-0.185411,1.292094,-1.791237,-0.285068

In [26]:
y_test.head(3)

11456      advanced_backend
16528    advanced_front_end
3253     advanced_front_end
Name: PROFILE, dtype: object

In [27]:
X_train.to_csv('WE03b-Ensembles-train_X-data.csv', index=False)
y_train.to_csv('WE03b-Ensembles-train_y-data.csv', index=False)
X_test.to_csv('WE03b-Ensembles-test_X-data.csv', index=False)
y_test.to_csv('WE03b-Ensembles-test_y-data.csv', index=False)

## Conclusion

In this note book I used the techniques covered in class to load and clean the data and saved the predictors and target variable containing test and train data sets in csv files. I will use these files in WE03b-Ensembels-model-fit notebook.